<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/styleedit.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets make friends</title>
</head>

<body>
    <div id="editcontainer">
    <nav>
        <% if (user) { %>

            <a href="/logout">LOG OUT</a>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
                    <a href="/../secrets/new">HOME</a>
                    <a href="/../secrets">SECRETS</a>
                    <a href="/profile/<%= user._id %>">YOUR PROFILE</a>


    </nav>
    <img id="profilepic" src="<%= user.img %>">
    <div id="profilepicedit">
    <p id="pictext">Edit your profile picture</p>
    <form action="/profile/<%= user._id %>?_method=PUT" method="POST" autocomplete="off">
        <input type="text" name="img" placeholder="put image or gif URL here">

        <input type="submit" id="picbutt" value="save">
    </form>
    </div>
 
    <header>Username: <br> <%= user.name %>
    </header>
    <div id="editusername">
    <p>Edit your Username</p>
    <form action="/profile/<%= user._id %>?_method=PUT" method="POST" autocomplete="off" id="userform">
        <input type="text" name="name" placeholder="New Username">

        <input type="submit" id="userbutt" value="save">
    </form>
    </div>
</div>


</body>

</html>