<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/styleprofile.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <% if (user) { %>

            <a href="/logout">LOG OUT</a>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
                    <a href="../secrets/new">HOME</a>
                    <a href="../secrets">SECRETS</a>
                   
                    
    </nav>
    <header><%= user.name %>'s profile </header>

    <form action="/profile/<%= user._id%>" method="POST" autocomplete="off">
        <textarea id="comment" name="profileComments" rows="5"  required maxlength="1000"  placeholder="haaaay"></textarea>
         <button id="tea">POST COMMENT</button>
       </form>
    
       <% user.profileComments.forEach(function(u) { %>
          <li><p>Posted By:<a href="/profile/<%=user._id%>"><%= user.name %> </p></a> <%= u.profileComments %></li>
     <% }) %>


    

   
  
</body>
</html>

