<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/styleprofile.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secrets make friends</title>
  </head>
   <body>
    <div id="profile-container">
      <nav>
        <% if (user) { %>
        <a href="/logout">LOG OUT</a>
        <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img id="profile-picture" src="https://i.imgur.com/FHjYyi0.png"/></a>
        <% } %>
        <a href="../secrets/new">HOME</a>
        <a href="../secrets">SECRETS</a>
        <a href="/profile/<%=profileUser._id%>/edit">EDIT PROFILE</a>
      </nav>
      <div id="profile-section">
          <h1 id="user-name"><%= profileUser.name %></h1>
          <div id="top-section">
          <img id="profile-photo" src="<%= profileUser.img %>" />
          <div id="secrets-container">
              <h2 id="user-secrets"><%= profileUser.name %>'s Secrets</h2>
              <% secrets.forEach(function(secret) { %>
                <a id="secret" href="../secrets/<%= secret._id %>">
                    <h1 id="secret"><%= secret.yourSecret %></h1></a>
                    <% }) %>
                </div>
            </div>
        <form
          action="/profile/<%= profileUser._id%>/comments"
          method="POST"
          autocomplete="off"
        >
          <textarea
            id="comment-form"
            name="profileComments"
            required
            
            placeholder="Comment Here"
          >
          </textarea>
          <button id="post-comment">POST COMMENT</button>
        </form>
        <% let reverseComments= profileUser.profileComments.reverse() %> 
        <% reverseComments.forEach(function(comment) { %>
        <div id="comment-container">
          <p id="user-comment">User:<%= comment.userName %></p>
          <p><%= comment.profileComments %></p>
        </div>
        <% }) %>
       
      </div>
    </div>
  </body>
</html>
