<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/styleprofile.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets make friends</title>
</head>

<body>
    <div id="profilecontainer">
    <nav>
        <% if (user) { %>

            <a href="/logout">LOG OUT</a>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
                    <a href="../secrets/new">HOME</a>
                    <a href="../secrets">SECRETS</a>
                    <a href="/profile/<%=profileUser._id%>/edit">EDIT PROFILE</a>


    </nav>






    

    <header>
        <%= profileUser.name %>'s profile
    </header>
    <img src="<%= profileUser.img %>">

    
    <div id="secretswrapper">
        <h2>
            <%= profileUser.name %>'s Secrets:
        </h2>
    <% secrets.forEach(function(secret) { %>
        <a href="../secrets/<%= secret._id %>">
         <h1>-<%= secret.yourSecret %>
            </h1>
       
        </a>
        <% }) %>
    </div>
            </lable>


            <form action="/profile/<%= profileUser._id%>/comments" method="POST" autocomplete="off">
                <textarea id="comment" name="profileComments" rows="5" required maxlength="1000"
                    placeholder="haaaay"></textarea>
                <button id="tea">POST COMMENT</button>
            </form>
            <% let reverseComments= profileUser.profileComments.reverse() %>
                <% reverseComments.forEach(function(comment) { %>
                  

                 


                       




                  <div id="commentcontainer">

                    <li>
                        <p>Posted By:<%= comment.userName %>
                        </p>

                        
                        <%= comment.profileComments %>
                    </li>
                    <% }) %>
                    </div>




     </div>

</body>

</html>