<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">


    <script defer src="javascripts/secrets.js"></script>
    <link rel='stylesheet' href='/stylesheets/styleAllSecrets.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets make friends</title>
</head>

<body>
   <div id="all-secrets-container">
    <nav id="indexnav">
        <% if (user) { %>

            <a href="/logout">LOG OUT</a>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
                    <a href="secrets/new">HOME</a>
                    <a href="/profile/<%= user._id %>">YOUR PROFILE</a>
                    <a href="/profile/<%=user._id%>/edit">EDIT PROFILE</a>
    </nav>
    <h1 id="secrethead">ALL THE TEA</h1>
    <div id="submission-container">
        <% let reverse=secrets.reverse() %>
            <% reverse.forEach(function(secret){ %>
               <div id="submission">
                  <div id="user-info">
                  <p id="user">User:
                      <a id="user" href="/profile/<%=secret.user._id%>"><%= secret.userName %></a>
                    </p>
                    <p id="date"><%= secret.createdAt.toString().slice(0,15) %></p>
                  </div> 
                    <a id="secret-link" href="secrets/<%= secret._id %>">
                    <p id="secret"> <%= secret.yourSecret %></p>
                  </a>
            </div>
            <% })%>
        </div>
    </div>
    
   </body>
                   

                

