<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    

    <link rel='stylesheet' href='/stylesheets/styleshow.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Secrets make friends</title>
</head>

<body>
    <div id="detailcontainer">
    <nav>
        <% if (user) { %>

            <a href="/logout">LOG OUT</a>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
                    <a href="/secrets">SECRETS</a>
                    <a href="/secrets/new">HOME</a>

                    <a href="/profile/<%= user._id %>">YOUR PROFILE</a>
                    <a href="/profile/<%=user._id%>/edit">EDIT PROFILE</a>
                    


    </nav>



    <header><h1>
        <p id="time">
            <%= secrets.createdAt.toString().slice(0,15) %>
        </p>
        <%= secrets.yourSecret %>
        </h1>
    </header>

    <div id="commentwrapper">


        <form id="add-comment" method="POST" action="/secrets/<%= secrets._id %>/comments">
            <textarea id="comments" name="comments" rows="6" required maxlength="1000"
                placeholder="comment here"></textarea>
            <input type="text" name="image" placeholder="put image or gif URL here">


            <button id="post">POST</button>
        </form><br>
<div id="scrollcomments">
        <label>
            <% let reverse=secrets.comments.reverse() %>
                <% reverse.forEach((comment)=> { %>
                    <% if (user && user._id.equals(comment.user)) { %>


                
                         
                       
                        <% } %>

                            <p id="secretdetail">Posted by: <a href="/profile/<%=comment.user._id%>">
                                    <%= comment.userName %>
                                </a><br>
                                <%= comment.createdAt.toString().slice(0,15) %>
                            </p><br>
                            <li>
                                <%= comment.comments %><br>
                                    <img src="<%= comment.image %>" >
                                    <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button id="delete" type="submit">delete</button>
                                </form>
                                </li>



                            <%}) %>

        </label>

  </div>
    </div>
    </div>
</body>

</html>