<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    

    <link rel='stylesheet' href='/stylesheets/styleshow.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Secrets make friends</title>
</head>

<body>
  <div id="detail-container">
     <nav>
        <% if (user) { %>
          <a href="/logout">LOG OUT</a>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
                    <a href="/secrets">SECRETS</a>
                    <a href="/secrets/new">HOME</a>
                    <a href="/profile/<%= user._id %>">YOUR PROFILE</a>
                    <a href="/profile/<%=user._id%>/edit">EDIT PROFILE</a>
     </nav>
     <div id="all-show">
     <div id="show-text">
         <div id="user-info">
       <p id="secret-user">User: 
       <a id="secret-user" href="/profile/<%=secrets.user._id%>"><%=secrets.userName %></a>
       </p>
       <p id="time"><%= secrets.createdAt.toString().slice(0,15) %></p>
    </div>
       <h1 id="secret-display"><%= secrets.yourSecret %> </h1>  
    </div>
    <div id="forms-wrapper">
      <form id="add-comment" method="POST" action="/secrets/<%= secrets._id %>/comments">
            <textarea id="comments"
                      name="comments" 
                      rows="6" 
                      required maxlength="1000"
                      placeholder="comment here"></textarea>
            <div id="input-container">
            <input id="url" 
                   type="text" 
                   name="image" 
                   placeholder="put image or gif URL here">
            <button id="post-button">POST</button>
        </div>
      </form>
      </div>
          <div id="submission-container">
            
            <% let reverse=secrets.comments.reverse() %>
                <% reverse.forEach((comment)=> { %>
                    <div id="comment-container">
                      <div id="comment-info">
                        <p id="comment-user">User:
                         <a id="comment-user" href="/profile/<%=comment.user._id%>"><%= comment.userName %></a>
                        </p>
                         <p id="comment-time"><%= comment.createdAt.toString().slice(0,15) %></p> 
                      </div>
                <div id="comment-media">
                    <p id="comment"><%= comment.comments %></p>
                    <img id="comment-image" src="<%= comment.image %>" />
                </div>
                    <% if (user && user._id.equals(comment.user)) { %>
                        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button id="delete" type="submit">delete</button>
                        </form>
                    <% } %>
             </div>
           
                <% }) %>
            </div>
            
        </div>
    </div>
    </div>
</body>
</html>
                  

                
                         
                 
                    
           




                           

                    
